body{
    background: #062863;
}
.piggy-body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 45px;
}
.form{
    width: 460px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px 10px 10px 0px;
    
}
h2{
    text-align: center;
    padding-top: 20px;
    color: #083e9e
}
#welcome{
    text-align: center;
}
input{
    width: 370px;
    height: 56px;
    margin-bottom: 38px;
    margin-top: 10px;
    margin-left: 43px;
    border-radius: 5px;
    background: #edf2f7;
    font-size: 15px;
    padding-left: 19px;
    outline: none;
    border: none;
}
label{
    margin-left: 43px;
}
#options{
    width: 370px;
    height: 56px;
    margin-left: 43px;
    background: #edf2f7;
    padding-left: 19px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}
#login{
    background: #083e9e;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 14px 14px 14px 0px;
    color: white;
}
#footer{
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
#upper-right{
    position: fixed;
    top: -10px;
    right: -100px;
    width: 200px;
    height: 200px;
}
#upper-left{
    position: fixed;
    top: -100px;
    left: -10px;
    width: 200px;
    height: 200px;
}
#bottom-right{
    position: fixed;
    bottom: -20px;
    right: -80px;
    width: 200px;
    height: 200px;
}
#bottom-left{
    position: fixed;
    bottom: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
}
.form p{
    margin-top: -20px;
}
#welcome{
    color: #888;
    /*opacity: 0.3;*/
}
